pozostale/*
sem4/*
stalk/
.DS_Store
sem5/geodane/34-B-D-4/topo3.sql
sem5/geodane/szostylistopad.sql
sem5/geodane/TBD_wroc/TBD_wroc.sql
sem5/geodane/srtm_40_02/srtm.tif
sem5/geodane/srtm_40_02/srtm_40_02.tif
sem5/geodane/34-B-D-4/topo3.sql
sem5/geodane/34-B-D-4/topo2.sql
sem5/geodane/34-B-D-4/topo.sql
sem5/geodane/34-B-D-4/topo.sql
sem5/geodane/34-B-D-4/topo2.sql
sem5/geodane/34-B-D-4/topo3.sql
sem5/geodane/srtm_40_02/srtm_40_02.tif
sem5/geodane/python/budynki.dbf
sem5/geodane/34-B-D-4/topo3.sql
